@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: dodgerblue;
}

div nav.sidenav---sidenav---_2tBP {
  top: 56px;
  background-color: var(--bs-primary);
}

.form-background-color {
  background-color: floralwhite;
}

.btn-margin-right {
  margin-right: 15px;
}

.btn-standard-width {
  width: 100px;
}
ul {
  list-style: none;
}

.select {
  text-decoration: underline white;
  cursor: pointer;
}


.features { counter-reset: item }
.features li { display: block }
.features li:before {
  content: counter(item) ". ";
  counter-increment: item;
  width: 2em;
  display: inline-block;
}

.icon {
  max-width: 40px;
  max-height: 40px;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errMsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.page-container {
  max-width: 1500px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
}

.glass-container {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  height: 575px;
}

.glass-container .glass {
  position: relative;
  width: 220px;
  height: 180px;
  background: linear-gradient(#fff, transparent);
  border-left: 1px solid rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-right: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 25px 25px rgba(0,0,0,0.25);
  backdrop-filter: blur();
  transition: .5s;
  border-radius: 10px;
  margin-left: 15px;
  transform: rotate(calc(var(--r) * 1deg));
}

.glass-container .glass:hover {
  transform: rotate(0deg);
  border-left: 1px solid #114701;
  border-top: 1px solid #114701;
  border-right: 1px solid #114701;
}

.glass-container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255,255,255,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Algerian serif;
  border-top: solid 1px black;
}

.glass-container .glass i {
  font-size: 4em;
}

.glass-container .glass.picked {
  background: linear-gradient(#4f4f4f, transparent);
  transform: rotate(0deg);
}

.font-algerian {
  font-family: Algerian, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', serif;
}
