@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$chiefs-red: #E31837;
$chiefs-gold: #FFB81C;

$base-grey-begin: #dbdae1;
$base-grey-end: #aeaaba;

$kansasCity-red: rgb(227,24,55);
$kansasCity-gold: rgb(255,184,28);
$kansasCity-red-gradient: rgba(227,24,55,.5);
$kansasCity-gold-gradient: rgba(255,184,28,.5);

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: $base-grey-end;
  overflow: hidden;
}

.form-background-color {
  background-color: floralwhite;
}

.btn-margin-right {
  margin-right: 15px;
}

.btn-standard-width {
  width: 100px;
}
ul {
  list-style: none;
}

.select {
  text-decoration: underline white;
  cursor: pointer;
}


.features { counter-reset: item }
.features li { display: block }
.features li:before {
  content: counter(item) ". ";
  counter-increment: item;
  width: 2em;
  display: inline-block;
}

.icon {
  max-width: 40px;
  max-height: 40px;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
  color: #fff;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errMsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.page-container {
  max-width: 1500px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
}

.glass-container {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  height: 575px;
}

.glass-container .glass {
  position: relative;
  width: 190px;
  height: 180px;
  background: linear-gradient(#fff, transparent);
  border-left: 1px solid rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-right: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 25px 25px rgba(0,0,0,0.25);
  backdrop-filter: blur();
  transition: .5s;
  border-radius: 10px;
  margin-left: 15px;
  transform: rotate(calc(var(--r) * 1deg));
}

.glass-container .glass:hover {
  transform: rotate(0deg);
  border-left: 1px solid #114701;
  border-top: 1px solid #114701;
  border-right: 1px solid #114701;
}

.glass-container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255,255,255,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px black;
}

.glass-container .glass i {
  font-size: 4em;
}

.glass-container .glass.picked {
  background: linear-gradient(#4f4f4f, transparent);
  transform: rotate(0deg);
}

/*.standard-background {
  box-shadow: 5px 5px 5px rgba(0,0,0,.1), 15px 15px 15px rgba(0,0,0,0.1);
  background: linear-gradient($base-grey-begin, $base-grey-end);
}*/

.standard-background  {
  box-shadow: 5px 5px 5px black;
  border: solid 2px gray;
  background: $base-grey-begin;
  overflow: hidden;
}
.standard-background .manage-card {
  width: 295px;
}
.standard-background.manage-card {
  height: 105px;
  padding: 10px;
}

.chiefs-red {
  color: $chiefs-red;
}

.chiefs-gold {
  color: $chiefs-gold;
}
.grey-begin {
  color: $base-grey-begin;
}
.grey-end {
  color: $base-grey-end;
}


.member-display {
  font-size: 1rem;
  background: #dbdae1;
  color: #B22222;
  padding: 0.5rem;
  position: relative;
  width: 380px;
  margin-left: 40px;
  margin-bottom: 5px;
  max-height: 75px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
  15px 15px 15px rgba(0,0,0,0.1),
  20px 10px 20px rgba(0,0,0,0.1),
  50px 50px 80px rgba(0,0,0,0.25);
}
.member-display::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
  background: linear-gradient(rgba(255, 184, 28, .5), #ffffff, #e3e3e3);
  filter: blur(1px);
  z-index: 1;
}
.member-display::after {
  content: '';
  position: absolute;
  top: -.5px;
  right: -1px;
  width: 10px;
  height: 100%;
  background: linear-gradient(#ffffff, #ffffff, rgba(227, 24, 55, .1));
  filter: blur(1px);
  z-index: 1;
}

.member-display.commissioner {
  max-height: 200px;
}

.member-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: auto;
  width: 77vw;
  height: 65vh;
  box-shadow: 15px 15px 15px black;
  padding: 10px;
  border: solid 2px gray;
  background: $base-grey-begin;
}

.text-shadow-black {
  text-shadow: 2px 2px 2px black;
}

.text-shadow-white {
  text-shadow: 2px 2px 2px white;
}

i.member {
  font-size: 40px;
  padding: 2px;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 50px;
  white-space: nowrap;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 260px;
  white-space: nowrap;
}

.rule-selection {
  font-size: 1.25em;
  color: $chiefs-gold;
}

.header-fontSize {
  font-size: 3em;
}